body {
    margin:0;
}

.contact {
    height: 644px;
    width: 500px;
    background-color: black;
    opacity: 0.79;
}

.hero-footer {
    display: flex;
    height: 644px;
    width: 1000px;
    background: url(https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footertitle {
    color: #FFFFFF;
    font-family: "Maven Pro";
    font-weight: 500;
    font-size: 64px;
    line-height: 75.2px;
    
}


.contacttext {
    color: #FFFFFF;

}