body {
    margin: 0;

}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}


/*first-info section wrapper. Flexbox med 2 items. 1) med stora bilden och 2) med text, H2, P och button*/
body div section.first-info {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

body div section article.first-info-svgContainer {
    height: 377px;
    width: 377px;
    border-radius: 50%;
    background-color: #0A846E;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body section article img {
    width: 195px;
    height: 195px;
}

body div section article.first-info-image {
    display: flex;
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-info-article {
    padding-left: 1rem;
    width: 467px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button__såtips {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #FFFFFF;;
    background-color: #0A846E;
    width: 179px;
    height: 63px;
    border-radius: 9px;
    box-shadow: 0px 4px 10px #838080;
    border: none;
    align-self: end;
}

.button__planterade {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #FFFFFF;;
    background-color: #0A846E;
    width: 281px;
    height: 63px;
    border-radius: 9px;
    box-shadow: 0px 4px 10px #838080;
    border: none;
}

h2 {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #1E1E1E;

}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 22px
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=EB+Garamond:ital,wght@1,700&family=Fira+Sans:wght@700&family=Montserrat&family=Open+Sans:wght@300;400&display=swap');