body {
    margin:0 auto;
    max-width: 1000px;
}

.wrapper {
    display: flex;
    flex-direction:column; 
    max-width: 1000px;
}

nav {
    background-color:#FFFFFF;
    height: 60px;
    display: flex;
    justify-content: space-around;
    font-family: Maven Pro;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #03382F1C;

}

.navbar__h3 {
    color: #055647;
}


.hero {
    display: grid;
    grid-template-areas: 
        'a b'
        'a c';
    height: 540px;
}
.hero section:nth-child(2){
    
    background: #9E6D52;
}
.hero section:nth-child(3){
    
    background: #0A846E;
}
.hero__hand {
    grid-area: a;
    background-image: url('../img/hero-hand.png');
    width: 500px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero__hand--logo {
    margin-top:60px;
    width: 190px;
    height: auto;
}

.hero__sub-section {
    height: 270px;
    width: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hero--icon{
    width:176px;
    height:195px;
}
